

#view{
    width:50px;
    height:50px;
    margin:auto;
    perspective:150px;
    text-align: center;
    }
    
#dice{
    width:50px;
    height:50px;
    position:relative;
    transform-style:preserve-3d;
    transition: transform 1s;
}
.diceFace{
    position:absolute;
    width:50px;
    height:50px;
    text-align:center;
    line-height:50px;
    font-size:24px;
    border:1px solid #bbbbbb;
    border-radius:2px;
    display: grid;
    grid-column: 1;
    grid-row: 1;
    grid-template-areas:
        "one two three"
        "four five six"
        "seven eight nine";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    box-shadow: inset -0.35rem 0.35rem 0.75rem rgba(0, 0, 0, 0.3), 
                inset 0.5rem -0.25rem 0.5rem rgba(0, 0, 0, 0.15);
    background-color:#fefefe;
    padding: 7px;
}

#front{
    transform:rotateY(0deg) translateZ(2rem);
}

#right{
    transform:rotateY(90deg) translateZ(2rem);
}

#back{
    transform:rotateY(180deg) translateZ(2rem);
}

#left{
    transform:rotateY(-90deg) translateZ(2rem);
}

#top{
    transform:rotateX(90deg) translateZ(2rem);
}

#bottom{
    transform:rotateX(-90deg) translateZ(2rem);
}


[data-side="1"] .dot:nth-of-type(1) {
  grid-area: five;
}
[data-side="2"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="2"] .dot:nth-of-type(2) {
  grid-area: nine;
}
[data-side="3"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="3"] .dot:nth-of-type(2) {
  grid-area: five;
}
[data-side="3"] .dot:nth-of-type(3) {
  grid-area: nine;
}
[data-side="4"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="4"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="4"] .dot:nth-of-type(3) {
  grid-area: seven;
}
[data-side="4"] .dot:nth-of-type(4) {
  grid-area: nine;
}
[data-side="5"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="5"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="5"] .dot:nth-of-type(3) {
  grid-area: five;
}
[data-side="5"] .dot:nth-of-type(4) {
  grid-area: seven;
}
[data-side="5"] .dot:nth-of-type(5) {
  grid-area: nine;
}
[data-side="6"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="6"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="6"] .dot:nth-of-type(3) {
  grid-area: four;
}
[data-side="6"] .dot:nth-of-type(4) {
  grid-area: six;
}
[data-side="6"] .dot:nth-of-type(5) {
  grid-area: seven;
}
[data-side="6"] .dot:nth-of-type(6) {
  grid-area: nine;
}

.dot {
  align-self: center;
  background-color: #676767;
  border-radius: 50%;
  box-shadow: inset -0.15rem 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
  display: block;
  height: 1rem;
  justify-self: center;
  width: 1rem;
}

.roll0 {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.roll1  {
  transform: rotateX(300deg) rotateY(765deg) rotateZ(360deg);
  padding-bottom: 20px;
  padding-right: 20px;
}
.roll2  {
  transform: rotateX(395deg) rotateY(720deg) rotateZ(320deg);
  padding-bottom: 20px;
  padding-right: 20px;
}
.roll3  {
  transform: rotateX(300deg) rotateY(675deg) rotateZ(270deg);
  padding-bottom: 20px;
  padding-right: 20px;
}
.roll4  {
  transform: rotateX(300deg) rotateY(855deg) rotateZ(450deg);
  padding-bottom: 20px;
  padding-right: 20px;
}
.roll5  {
  transform: rotateX(210deg) rotateY(720deg) rotateZ(315deg);
  padding-bottom: 20px;
  padding-right: 20px;
}
.roll6  {
  transform: rotateX(480deg) rotateY(945deg) rotateZ(360deg);
  padding-bottom: 20px;
  padding-right: 20px;
}